.headerWrapper {
	background: var(--color-background-dark);
	box-sizing: border-box;
	position: sticky;
	top: 0;
	padding: 0 var(--spacing-XXL);
	height: 50px;
	width: 100%;
	z-index: 3;

	.headerItems {
		display: grid;
		grid-template-columns: max-content 1fr max-content max-content max-content;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		margin: auto;
	}

	.logoLink {
		box-sizing: border-box;
		border-radius: 5px;
		font-size: var(--font-size-M);
		font-weight: bold;
		text-decoration: none;
		user-select: none;

		.y {
			color: var(--color-prymary-main);
		}

		.js {
			color: var(--color-text-contrast);
		}

		&:focus-visible {
			outline: var(--outline-focus);
		}
	}

	nav {
		height: 100%;
	}

	@media (max-width: 1281px) {
		padding: 0 var(--spacing-XL);
	}
	@media (max-width: 769px) {
		padding: 0 var(--spacing-L);
	}
	@media (max-width: 481px) {
		padding: 0 var(--spacing-M);
	}
}
