.headerWrapper {
	background: var(--color-background-dark);
	box-sizing: border-box;
	position: fixed;
	top: 0;
	padding: 0 var(--spacing-XXL);
	height: 50px;
	width: 100%;
	z-index: 5;

	.headerItems {
		display: grid;
		grid-template-columns: max-content 1fr max-content;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		margin: auto;

		.flatRightControls {
			width: 100%;
			height: 100%;
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			justify-items: center;
			align-items: center;
		}

		.hiddenRightControls {
			display: none;
			position: relative;

			button {
				background: transparent;
				border: none;
				display: grid;
				justify-items: center;
				align-items: center;
				transition: transform 0.2s ease;
			}

			path {
				fill: var(--color-text-contrast);
			}

			.controlsBlock {
				overflow: hidden;
				height: 0;
				transition: height 0.2s ease, opacity 0.1s ease;
				position: absolute;
				top: calc(100% + 10px);
				background: var(--color-background-dark);
				border-radius: 4px;
				padding: var(--spacing-S) var(--spacing-M);
				display: grid;
				grid-auto-flow: row;
				grid-auto-rows: max-content;
				grid-gap: var(--spacing-S);
				justify-content: start;

				button {
					padding: 0;
					margin: 0;
					justify-items: start;
					width: max-content;
					min-width: 20px;
				}

				label {
					justify-items: start;
					outline: none;
				}
			}
		}
	}

	.logoLink {
		box-sizing: border-box;
		border-radius: 5px;
		font-size: var(--font-size-M);
		font-weight: bold;
		text-decoration: none;
		user-select: none;

		.y {
			color: var(--color-prymary-main);
		}

		.js {
			color: var(--color-text-contrast);
		}

		&:focus-visible {
			outline: var(--outline-focus);
		}
	}

	nav {
		height: 100%;
	}

	@media (max-width: 1281px) {
		padding: 0 var(--spacing-XL);
	}
	@media (max-width: 769px) {
		padding: 0 var(--spacing-L);

		.headerItems {
			.flatRightControls {
				display: none;
			}
			.hiddenRightControls {
				display: block;
			}
		}
	}
	@media (max-width: 481px) {
		padding: 0 var(--spacing-M);
	}
}
