.wrapper {
  color: var(--color-text-contrast);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vw max-content;

  .moviesWrapper {
    padding: var(--spacing-M) var(--spacing-XXL);
    z-index: 1;

    .moviesUp {
      margin-top: -150px;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-gap: var(--spacing-L);

      .category {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        grid-gap: var(--spacing-S);

        .genreTitle {
          font-size: var(--font-size-M);
          color: var(--color-text-contrast);
          font-weight: bold;
        }

        .light {
          color: var(--color-text-light);
        }

        .movies {
          display: grid;
          grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
          grid-auto-flow: row;
          grid-auto-rows: max-content;
          grid-gap: var(--spacing-L);
        }
      }
    }

    @media (max-width: 1281px) {
      padding: var(--spacing-M) var(--spacing-XL);
    }
    @media (max-width: 769px) {
      padding: var(--spacing-M) var(--spacing-L);
    }
    @media (max-width: 481px) {
      padding: var(--spacing-M) var(--spacing-M);
    }
  }

  @media (max-width: 769px) {
    grid-template-rows: 65vw max-content;

    .moviesWrapper {
      .moviesUp {
        margin-top: -55px;
      }
    }
  }
}

