.playerWrapper {
	display: grid;
	align-content: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	position: relative;

	video {
		width: 100vw;
		z-index: 0;
	}

	.leftGradient {
		background: -webkit-linear-gradient(
			13deg,
			rgba(0, 0, 0, 0.6) 0,
			rgba(0, 0, 0, 0) 85%
		);
		background: -moz-
			oldlinear-gradient(13deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 85%);
		background: -o-linear-gradient(
			13deg,
			rgba(0, 0, 0, 0.6) 0,
			rgba(0, 0, 0, 0) 85%
		);
		background: linear-gradient(
			77deg,
			rgba(0, 0, 0, 0.6) 0,
			rgba(0, 0, 0, 0) 85%
		);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.bottomGradient {
		position: absolute;
		top: 12vw;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(20, 20, 20, 0)),
			color-stop(15%, rgba(20, 20, 20, 0.15)),
			color-stop(29%, rgba(20, 20, 20, 0.35)),
			color-stop(44%, rgba(20, 20, 20, 0.58)),
			color-stop(68%, var(--color-background-dark)),
			to(var(--color-background-dark))
		);
		background-image: -webkit-linear-gradient(
			top,
			rgba(20, 20, 20, 0) 0,
			rgba(20, 20, 20, 0.15) 15%,
			rgba(20, 20, 20, 0.35) 29%,
			rgba(20, 20, 20, 0.58) 44%,
			var(--color-background-dark) 68%,
			var(--color-background-dark) 100%
		);
		background-image: -moz-
			oldlinear-gradient(
				top,
				rgba(20, 20, 20, 0) 0,
				rgba(20, 20, 20, 0.15) 15%,
				rgba(20, 20, 20, 0.35) 29%,
				rgba(20, 20, 20, 0.58) 44%,
				var(--color-background-dark) 68%,
				var(--color-background-dark) 100%
			);
		background-image: -o-linear-gradient(
			top,
			rgba(20, 20, 20, 0) 0,
			rgba(20, 20, 20, 0.15) 15%,
			rgba(20, 20, 20, 0.35) 29%,
			rgba(20, 20, 20, 0.58) 44%,
			var(--color-background-dark) 68%,
			var(--color-background-dark) 100%
		);
		background-image: linear-gradient(
			to bottom,
			rgba(20, 20, 20, 0) 0,
			rgba(20, 20, 20, 0.15) 15%,
			rgba(20, 20, 20, 0.35) 29%,
			rgba(20, 20, 20, 0.58) 44%,
			var(--color-background-dark) 68%,
			var(--color-background-dark) 100%
		);
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		background-position: 0 top;
		background-repeat: repeat-x;
		background-color: transparent;
		z-index: 1;
	}

	.volume {
		position: absolute;
		top: 50%;
		z-index: 2;
		right: var(--spacing-XXL);
	}

	.overlay {
		position: absolute;
		display: grid;
		justify-items: start;
		align-items: end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		.movieDetails {
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: max-content max-content;
			width: 100%;
			padding-bottom: 180px;
			padding-left: var(--spacing-XXL);
			box-sizing: border-box;

			.titleBlock {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: max-content max-content max-content;
				grid-gap: var(--spacing-M);
				max-width: 40vw;

				.title {
					color: var(--color-text-light);
					font-size: 2.4vw;
					font-weight: bold;
					text-shadow: 2px 2px 4px rgb(0, 0, 0 / 45%);
				}

				.description {
					color: var(--color-text-light);
					font-size: 1.4vw;
					text-shadow: 2px 2px 4px rgb(0, 0, 0 / 45%);
				}
			}

			.controlsBlock {
				display: grid;
				grid-template-columns: 1fr max-content max-content;
				grid-gap: var(--spacing-M);
				grid-template-rows: max-content;

				.detailsButton {
					background: var(--color-background-light);
					width: max-content;
				}

				.genreAndYear {
					display: grid;
					grid-template-rows: max-content;
					grid-template-columns: max-content;
					align-content: center;
					padding: var(--spacing-S) var(--spacing-M);
					background-color: rgba(51, 51, 51, 0.6);
					border-left: 3px solid #dcdcdc;
					color: var(--color-text-contrast-secondary);
				}
			}
		}
	}
	@media (max-width: 1281px) {
		.overlay {
			.movieDetails {
				padding-left: var(--spacing-XL);
				padding-bottom: 160px;
				.titleBlock {
				}
			}
		}
	}
	@media (max-width: 769px) {
		video {
			height: 100vw;
			width: auto;
		}

		.overlay {
			align-items: end;

			.movieDetails {
				padding-left: var(--spacing-L);
				padding-bottom: 60px;
				.titleBlock {
					max-width: 60vw;
					grid-gap: var(--spacing-S);

					.title {
						font-size: 5vw;
					}

					.description {
						font-size: 2.8vw;
					}
				}
			}
		}
	}
	@media (max-width: 481px) {
		.overlay {
			.movieDetails {
				padding-left: var(--spacing-M);
				.titleBlock {
				}

				.controlsBlock {
					.genreAndYear {
						display: none;
					}
				}
			}
		}
	}
}
