.wrapper {
	box-sizing: border-box;
	color: var(--color-text-contrast);
	display: grid;
	grid-template-columns: minmax(200px, 850px);
	grid-template-rows: max-content max-content max-content;
	justify-content: center;
	max-height: 90vh;
	background: var(--color-background-dark);
	align-self: center;
	justify-self: center;
	border-radius: 5px;
	transition: width 0.2s ease;
	overflow: auto;

	.videoWrapper {
		width: 100%;
		position: relative;
		border-radius: 5px;
		overflow: hidden;

		.closeButton {
			display: grid;
			justify-items: center;
			align-items: center;
			position: absolute;
			border: none;
			top: var(--spacing-S);
			right: var(--spacing-S);
			height: 40px;
			min-width: 40px;
			padding: 0;
			background: transparent;
			z-index: 4;
			opacity: 0.7;
			transition: opacity 0.2s ease;

			svg {
				transform: rotate(45deg);
				width: 24px;
				height: 24px;

				path {
					fill: var(--color-text-light);
				}
			}

			&:hover {
				opacity: 1;
			}
		}

		.overlay {
			display: grid;
			grid-template-columns: max-content max-content;
			grid-template-rows: max-content;
			align-content: end;
			align-items: end;
			justify-content: space-between;
			justify-items: start;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 1px -20px 8px 0px var(--color-background-dark);
			z-index: 3;

			.shortDetails {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: max-content max-content;
				padding: 0 0 var(--spacing-XL) var(--spacing-M);

				.title {
					color: var(--color-text-light);
					font-size: var(--font-size-L);
				}

				.description {
					font-size: var(--font-size-M);
					color: var(--color-text-light-secondary);
				}
			}

			.volumeButtonContainer {
				padding: 0 var(--spacing-M) var(--spacing-XL) 0;
			}
		}
	}

	.details {
		padding: 0 var(--spacing-M) var(--spacing-M) var(--spacing-M);
		font-size: var(--font-size-XS);
		line-height: var(--font-size-M);
		color: var(--color-text-contrast-secondary);
	}

	.controls {
		display: grid;
		box-sizing: border-box;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: end;
		padding: var(--spacing-M);

		.addButton {
			border: 2px solid var(--color-prymary-main);
		}
	}

	video {
		width: 100%;
		position: relative;
		z-index: 2;
	}

	@media (max-width: 769px) {
		.videoWrapper {
			.overlay {
				.shortDetails {
					.title {
						font-size: var(--font-size-M);
					}
					.description {
						font-size: var(--font-size-S);
					}
				}
			}
		}
	}
}
