.mainWrapper {
	background: var(--color-background-dark);
	width: 100%;
	min-height: 100%;
	border-radius: 0;
	display: grid;
	grid-template-rows: 1fr var(--footer-height);
	grid-template-columns: 100%;
	overflow: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	margin-top: var(--header-height);
}
