.movieGrid {
	border: 1px solid var(--color-outline-main);
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	height: 170px;
	display: grid;
	outline: none;
	background: var(--color-background-light);
	grid-template-rows: 1fr;
	grid-template-columns: max-content 1fr;
	overflow: hidden;
	padding: 0;
	position: relative;

	&:hover {
		border: 1px solid var(--color-outline-active);
	}
	&:focus-visible {
		outline: var(--outline-focus);
	}

	.movieInfo {
		padding: var(--spacing-S);
		display: grid;
		justify-items: start;
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
		grid-gap: var(--spacing-S);

		.title {
			font-size: var(--font-size-S);
			color: var(--color-text-contrast);
			font-weight: bold;
		}

		.genre {
			font-size: var(--font-size-XS);
			color: var(--color-text-contrast-secondary);
		}
	}
}
